.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 var(--spacing-lg);
  align-items: center;
  height: 3.5rem;
  border-bottom: 1px solid var(--color-border);
}

.logo {
  grid-column: 2;
  font-weight: 600;
}

.nav {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 1rem;
}

.link {
  transition: color var(--transition-base);
}

.link:hover {
  color: var(--color-primary);
}

.linkActive {
  color: var(--color-primary);
}
