.page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--spacing-xl);
    padding: var(--spacing-lg);
}

.brand {
    color: var(--color-text-secondary);
    font-size: var(--font-size-sm);
}

.name {
    font-size: var(--font-size-xl);
    font-weight: 600;
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-lg);
}

.description {
    color: var(--color-text-secondary);
    font-size: var(--font-size-sm);
    line-height: 1.6;
}

.imageWrapper {
    position: relative;
    height: 600px;
}

.image {
    object-fit: contain;
    padding: var(--spacing-lg);
}

.price {
    font-size: var(--font-size-xl);
    font-weight: 600;
}