.footer {
    display: grid;
    border-top: 1px solid var(--color-border);
    height: 10rem;
}

.content {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding: var(--spacing-sm) var(--spacing-lg);
}

.logo {
    grid-row: 2;
    font-weight: 600;
    align-self: center;
}

.copyright {
    grid-row: 3;
    color: var(--color-text-secondary);
    font-size: var(--font-size-sm);
    align-self: end;
}